
/* default stuff */
body, input, select, textarea {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
  font-size: 16pt;
  box-sizing: border-box;
}

.monospace {
  font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}


/* grid elements */

.container {
  display: block;
  /*grid-column-gap: 0.5em;*/
  /*background-color: cyan;*/
}

.problem-name {
  /*background-color: red;*/
}

.problem {
  margin: 1em 0;
  /*background-color: pink;*/
}

.code-and-tests {
  vertical-align: top;
}

.code {
  font-size: 80%;
  color: #f8f8f2;
  overflow-x: auto;
  padding: .5em;
  background: #23241f;
  border-radius: 3px;
  /*margin: 0 .25em;*/
  padding: .25em .65em;
  display: inline-block;
  width: 100%;
}

.test-area {
  vertical-align: top;
  display: inline-block;
  /*background-color: blue;*/
  width: 100%;
}

.test-suite {
  /*background-color: yellow;*/
  font-size: 60%;
}

.test {
  display: block;
  margin: 0.7em 0;
}

.test-state {
  display: inline-block;
  transition: all 200ms ease-in-out;
}

.test-state.pass {
  color: green;
}

.test-state.fail {
  color: red;
}

.test-name {
  display: inline-block;
}

.test-total{
  background-color: gray;
  color: white;
  text-align: center;
  padding: 0.5em;
  transition: all 200ms ease-in-out;
}

.test-total.pass {
  background-color: green;
}

.test-total.fail {
  background-color: red;
}

.console {
  font-size: 70%;
  margin: 0.5em 0;
}

/* Because we are mobile-first, here is css for bigger than mobile */
@media (min-width: 760px) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
  .problem-name {
    display: block;
    /*background-color: red;*/
  }
  .problem {
    display: block;
    /*background-color: pink;*/
  }
  .code {
    width: 70%;
  }
  .test-area {
    width: 25%;
    /*background-color: blue;*/
  }
}
