
/* My custom styles
   ========================================================================== */

/* default stuff */
body {
  margin: 0;
}
body, input, select, textarea {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
  font-size: 16pt;
  box-sizing: border-box;
  color: #222
}

.monospace {
  font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.hide-until-load {
  visibility: hidden;
}


/* grid elements */
.site-heading {
  background-color: skyblue;
  color: black;
  padding: .5em;
  text-align: center;
  margin: 0;
}
.container {
  display: block;
}
.problem-group {
  display: block;
  margin: 0.5em 0;
  align-items: center;
}
.problem {
  display: block;
  margin: 0.5em;
}
.next-problem {
  display: block;
  padding: 0.6em 1em;
  background-color: deepskyblue;
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

.code-and-tests {
  vertical-align: top;
  display: block;
}

.code {
  font-size: 80%;
  color: #f8f8f2;
  overflow-x: auto;
  padding: .5em;
  background: #23241f;
  border-radius: 3px;
  padding: .25em .65em;
  display: inline-block;
  width: 100%;
}

.test-area {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}

.test-suite {
  font-size: 60%;
}

.test {
  display: block;
  margin: 0.7em 0;
}

.test-state {
  display: inline-block;
  transition: all 200ms ease-in-out;
}

.test-state.pass {
  color: green;
}

.test-state.fail {
  color: red;
}

.test-name {
  display: inline-block;
}

.test-total{
  background-color: gray;
  color: white;
  text-align: center;
  padding: 0.5em;
  transition: all 200ms ease-in-out;
}

.test-total.pass {
  background-color: green;
}

.test-total.fail {
  background-color: red;
}

.console {
  font-size: 60%;
  margin: 0.5em 0;
  vertical-align: top;
}
.console > h4 {
  text-align: center;
}
.support {
  font-size: 50%;
}
.support > .items {
  display: flex;
  justify-content: center;
}
.support > .items > iframe {
  margin: 0.5em 0;
}

/* Because we are mobile-first, here is css for bigger than mobile */
@media (min-width: 760px) {
  .container {
    width: 92%;
    margin: 0 auto;
    display: flex;
  }
  .left-spacer {
    flex: 0.5;
  }
  main {
    flex: 30;
  }
  .support {
    flex: 0.5;
    margin: 0.5em -3em 5em 1em;
  }
  .support > .items {
    display: block;
    justify-content: center;
  }
  footer {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  .problem-name {
    display: block;
  }
  .problem-group {
    display: flex;
    justify-content: space-between;
  }

  .problem {
    display: block;
    margin-right: 0.6em;
  }
  .code-and-tests {
    display: flex;
  }
  .test-area {
    width: 30%;
  }
  .code-and-eval-console {
    width: 70%;
  }
}
