
/* My custom styles
   ========================================================================== */

@import 'lib/defaults';


/* grid elements */
.container {
  display: block;
}
.site-heading {
  background-color: skyblue;
  color: black;
  padding: .5em;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.site-heading span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-heading h1 {
  font-size: 200%;
  margin: 0.3em 0 0.5em 0.5em;
  letter-spacing: 0px;
  font-weight: 200;
}
.site-heading img.logo {
  display: none
}
.controls {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  font-size: 70%;
}
.controls img {
  padding: 0.3em;
  border-radius: 0.3em;
  background-color: transparent;
  height: 60px;
}
.controls > div > :active,
.controls > div > .active {
  background-color: #333;
  transition: all 200ms ease-in-out;
}
.problem-group {
  display: block;
  margin: 0.7em 0;
  align-items: center;
}
.problem {
  display: block;
  margin: 1em;
}

.code-and-tests {
  vertical-align: top;
  display: block;
}

.code {
  font-size: 80%;
  color: #f8f8f2;
  overflow-x: auto;
  padding: .5em;
  background: #23241f;
  border-radius: 3px;
  padding: .25em .65em;
  display: inline-block;
  width: 100%;
}

.test-area {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}

.test-suite {
  font-size: 60%;
}

.test {
  display: block;
  margin: 0.7em 0;
}

.test-state {
  display: inline-block;
  transition: all 200ms ease-in-out;
}

.test-state.pass {
  color: green;
}

.test-state.fail {
  color: red;
}

.test-name {
  display: inline-block;
}

.test-total{
  background-color: gray;
  color: white;
  text-align: center;
  padding: 0.5em;
  transition: all 200ms ease-in-out;
}

.test-total.pass {
  background-color: green;
}

.test-total.fail {
  background-color: red;
}

.console {
  font-size: 60%;
  margin: 0.5em 0;
  vertical-align: top;
}
.console > h4 {
  text-align: center;
}
.ads-bottom {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 5em 0 1em;
}
footer {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
footer > div {
  margin: 10px auto;
}
.icon-license {
  font-size: 50%;
}

/* Because we are mobile-first, here is css for bigger than mobile */
@media (min-width: 760px) {
  .container {
    width: 92%;
    margin: 0 auto;
    display: flex;
  }
  .left-spacer {
    flex: 0.5;
  }
  main {
    flex: 30;
  }
  .site-heading .container {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .site-heading > .container > h1 {
    font-size: 200%;
  }
  .site-heading img.logo {
    height: 70px;
    display: flex;
  }
  .controls img {
    height: 60px;
  }

  .problem-name {
    display: block;
  }
  .problem-group {
    display: flex;
    justify-content: space-between;
  }

  .problem {
    display: block;
    margin-right: 0.6em;
  }
  .code-and-tests {
    display: flex;
  }
  .test-area {
    width: 30%;
  }
  .code-and-eval-console {
    width: 70%;
  }
}
